{{define "archiveHeader"}}
<div class="archiveHeader">
	<span class="archiveInfo">
		<p id="packChannel">{{ if ge .PackVersion 3 }}#{{ .Channel.Name }}{{ else }}Viewing unamed channel{{ end }}</p>
		<p id="packTime">{{ if ge .PackVersion 2 }}Archived at: {{ formatTime .Date }} {{ end }}</p>
		<p id="packCount">Message count: {{ len .Messages }}</p>
	</span>
</div>
{{end}}
